<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruo.travel_1.mapper.FavoriteMapper"><!--namespace随意，一般为-->

    <!-- <select id="findCountByRid" resultType="com.ruo.travel_1.mapper.FavoriteMapper">
         SELECT COUNT(*) FROM tab_favorite WHERE rid = #{rid}
     </select>/*老是写成mapper*/-->

<!---->

    <resultMap id="FavoriteMap" type="com.ruo.travel_1.domain.Favorite">
        <result property="uid"  column="uid"/>
        <result property="date" column="date"/>
        <result property="rid" column="rid"/>
        <association property="route" javaType="com.ruo.travel_1.domain.Route"
                     select="com.ruo.travel_1.mapper.RouteMapper.findOne" column="rid"/>
    </resultMap>

    <!--查询是否收藏-->
    <select id="findByRidAndUid" resultType="com.ruo.travel_1.domain.Favorite">
        select * from tab_favorite where rid = #{rid} and uid = #{uid}
    </select>

    <!--查询个人收藏-->
    <select id="findByUid" resultMap="FavoriteMap">
        select * from tab_favorite where  uid = #{uid}
    </select>
    <!--查询收藏次数-->
    <select id="findCountByRid" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM tab_favorite WHERE rid = #{rid}
    </select>

<!--    <select id="findByRidAndUid" resultType="com.ruo.travel_1.domain.Favorite">-->
<!--        select * from tab_favorite where rid = #{rid}and uid = #{uid}-->
<!--    </select>-->
    <!--插入个人收藏-->
    <insert id="add" parameterType="com.ruo.travel_1.domain.Favorite">
        insert into tab_favorite (rid,date,uid) values(#{rid},#{date},#{uid})
    </insert>

    <delete id="deleteByRidAndUid" parameterType="Integer">
        delete from tab_favorite  where  rid= #{rid} and uid = #{uid}
    </delete>

</mapper>